/Banco_Proyectos-ejb/nbproject/private/
/Banco_Proyectos-war/nbproject/private/
/nbproject/private/
/Banco_Proyectos-ejb/build/
/Banco_Proyectos-war/build/
/Banco_Proyectos-ejb/dist/
/dist/
/build/
/Banco_Proyectos-war/dist/
